@use "../../styles/variables.scss" as *;

.sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;

    &__wrapper {
        padding: 20px;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding: 4px 6px;
        cursor: pointer;
        box-shadow: 1px 1px 10px 0px $accent;
        border-radius: 10px;
        transition: all 0.3s;
        background-color: $secondary;

        &:hover {
            box-shadow: none;
            transform: translateY(5px);
        }
    }

    &__icon {
        font-size: 35px;
        margin-right: 10px;
    }

    &__text {
        font-size: 20px;
    }

    &__hr {
        margin: 20px 0;
    }

    &__friendlist {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    &__friend {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    &__friendimg {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }
}
